div{
    
   line-height: 1px;
 
}

body{
    
}
.a1{
  margin-left:400px;
}
.a2{
    margin-left: 398px;
}
.a3{
  margin-left:396px;
}
.a4{
    margin-left: 394px;
}
.a5{
  margin-left:392px;
}
.a6{
    margin-left: 390px;
}
.a7{
    margin-left:388 ;
}
.a8{
  margin-left:386px;
}
.a9{
    margin-left: 384px;
}
.a10{
  margin-left:382px;
}
.a11{
    margin-left: 380px;
}
.a12{
  margin-left:378px;
}
.a13{
    margin-left: 376px;
}
.a14{
    margin-left:373px;
}
.a15{
  margin-left:370px;
}
.a16{
    margin-left: 366px;
}
.a17{
  margin-left:362px;
}
.a18{
    margin-left: 357px;
}
.a19{
  margin-left:352px;
}
.a20{
    margin-left: 390px;
}
.a21{
    margin-left:388 ;
}
.a22{
  margin-left:386px;
}
.a23{
    margin-left: 384px;
}
.a24{
  margin-left:382px;
}
.a25{
    margin-left: 380px;
}
.a26{
  margin-left:378px;
}
.a27{
    margin-left: 376px;
}
.a28{
    margin-left:388 ;
}